div.main p:hover{
	border: 1px solid black;

}
div.main:hover{
	border: 1px solid black;
}
div.main{
	width: 44px;
	height: 24px;.
	float: left;
}
div.main p {
	width: 40px;
	height: 20px;
	margin-left: 1px; 
	margin-top: 1px;
}
div.tip {
	width: 100px;
	height: 25px;
	position: relative;
	border: 1px solid black;
	margin-top: 50px;
}
div.tip span:hover.tooltip{
	opacity: 1;
	margin-top: -30px;
}
div.tip span.tooltip {
	opacity: 0;
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 25px;
	border: 1px solid black;
	margin-left: -75px;
}